{{ form_start(searchForm) }}
<div class="px-3 py-3">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Identifiant de l'utilisateur</span>
        </div>
        {{ form_widget(searchForm.userId) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Envoyé avant</span>
        </div>
        {{ form_widget(searchForm.beforeDate) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Envoyé après</span>
        </div>
        {{ form_widget(searchForm.afterDate) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Identifiant message</span>
        </div>
        {{ form_widget(searchForm.messageId) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Identifiant salon</span>
        </div>
        {{ form_widget(searchForm.channelId) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Ancien contenu</span>
        </div>
        {{ form_widget(searchForm.oldContent) }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Nouveau contenu</span>
        </div>
        {{ form_widget(searchForm.newContent) }}
    </div>
    <button class="btn btn-primary btn-block" type="submit">Rechercher</button>
</div>
{{ form_end(searchForm) }}
