{{ form_start(search) }}
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="moderatorId">Identifiant du membre</span>
                </div>
                {{ form_widget(form.memberId) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="moderatorId">Identifiant du modérateur</span>
                </div>
                {{ form_widget(form.moderatorId) }}
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="reason">Raison</span>
                </div>
                {{ form_widget(form.reason) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sanctionStatus">Statut de la sanction</span>
                </div>
                {{ form_widget(form.sanctionStatus) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="afterDate">Appliquée après</span>
                </div>
                {{ form_widget(form.afterDate) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="beforeDate">Appliquée avant</span>
                </div>
                {{ form_widget(form.beforeDate) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sanctionType">Type de sanction</span>
                </div>
                {{ form_widget(form.sanctionType) }}
            </div>
            {{ form_widget(form.submit) }}
        </div>
    </div>
{{ form_end(search) }}
