{{ form_start(search) }}
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Identifiant du membre</span>
                </div>
                {{ form_widget(form.memberId) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Identifiant du modérateur</span>
                </div>
                {{ form_widget(form.moderatorId) }}
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Raison</span>
                </div>
                {{ form_widget(form.reason) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Statut de la sanction</span>
                </div>
                {{ form_widget(form.sanctionStatus) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Appliquée après</span>
                </div>
                {{ form_widget(form.afterDate) }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Appliquée avant</span>
                </div>
                {{ form_widget(form.beforeDate) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type de sanction</span>
                </div>
                {{ form_widget(form.sanctionType) }}
            </div>
            <button class="btn btn-primary btn-block" type="submit">Rechercher</button>
        </div>
    </div>
{{ form_end(search) }}
