<!doctype html>
<html lang="fr">
<head>
    {% include 'layouts/head.html.twig' %}
    <title>Swan - {% block title %}{% endblock %}</title>
</head>
<body>
<div class="flex flex-col sm:h-screen">
    <nav class="flex-shrink-0 flex-grow-0 h-20 w-full bg-sky shadow-lg">
        <div class="max-w-7xl mx-auto px-4 h-full">
            <div class="flex justify-between h-full">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center justify-center">
                        <img class="h-14 w-auto p-1" src="https://skript-mc.fr/assets/images/logo-white.png"
                             alt="Skript-MC logo">
                        <img class="ml-2 h-10 w-10" src="{{ asset('build/images/swan-logo.png') }}" alt="Logo de Swan">
                    </div>
                    <div class="hidden sm:ml-10 sm:flex sm:space-x-8">
                        <a href="{{ path('home') }}"
                           class="{{ app.request.attributes.get('_route') starts with 'home_' ? 'border-white' : 'border-transparent hover:border-gray-300 hover:text-gray-200' }} text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                            <p class="hidden lg:block">Accueil</p>
                        </a>
                        <a href="{{ path('knowledge') }}"
                           class="{{ app.request.attributes.get('_route') starts with 'knowledge_' ? 'border-white' : 'border-transparent hover:border-gray-300 hover:text-gray-200' }} text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-semibold">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                            </svg>
                            <p class="hidden lg:block">Base de connaissance</p>
                        </a>
                        <a href="{{ path('swan') }}"
                           class="{{ app.request.attributes.get('_route') starts with 'swan_' ? 'border-white' : 'border-transparent hover:border-gray-300 hover:text-gray-200' }} text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-semibold">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                            </svg>
                            <p class="hidden lg:block">Gestion de Swan</p>
                        </a>
                        <a href=""
                           class="border-transparent text-white hover:border-gray-300 hover:text-gray-200 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-semibold">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
                            </svg>
                            <p class="hidden lg:block">Modération</p>
                        </a>
                    </div>
                </div>

                <div class="hidden sm:ml-6 sm:flex">
                    <a href="{{ path('logout') }}"
                       class="border-transparent text-white hover:border-gray-300 hover:text-gray-200 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                        </svg>
                        <p class="hidden lg:block">Se déconnecter</p>
                    </a>
                </div>
                <div class="-mr-2 flex items-center sm:hidden">
                    <button data-swan-modal="mobileMenu" type="button"
                            class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-sky hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky"
                            aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="sm:hidden hidden" id="mobile-menu">
            <div class="pt-2 pb-3 space-y-1">
                <a href="{{ path('login') }}"
                   class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-semibold">Se
                    connecter</a>
            </div>
        </div>
    </nav>
    <div class="flex h-full overflow-hidden">
        <div class="fixed inset-0 flex z-40 md:hidden hidden" role="dialog" id="mobileMenu">
            <div class="fixed inset-0 bg-gray-600 bg-opacity-75 modal-exit" aria-hidden="true"></div>
            <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 bg-white">
                <div class="absolute top-0 right-0 -mr-12 pt-2">
                    <button type="button"
                            class="modal-close modal-exit ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                        <span class="sr-only">Close sidebar</span>
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex-1 h-0 overflow-y-auto">
                    <nav class="px-2">
                        <a href="#"
                           class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                            Accueil
                        </a>
                        <a href="#"
                           class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                            </svg>
                            Base de connaissance
                        </a>
                        <a href="#"
                           class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                            </svg>
                            Gestion de Swan
                        </a>
                        <a href="#"
                           class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-base font-medium rounded-md">
                            <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
                            </svg>
                            Modération
                        </a>
                        <div class="w-full border-b border-gray-200 mt-2"></div>
                        <div class="mt-3 space-y-1">
                            {{ block('sidebar') }}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="hidden md:flex md:w-64 md:flex-col">
            <div class="flex flex-col flex-grow border-r border-gray-200 bg-white overflow-y-auto">
                <div class="flex-grow flex flex-col">
                    <nav class="mt-5 flex-1 px-2 space-y-1">
                        {% block sidebar %}
                        {% endblock sidebar %}
                    </nav>
                </div>
                <div class="flex-shrink-0 flex flex-col border-t border-gray-200 p-4">
                    <a href="#" class="flex-shrink-0 group block">
                        <div class="flex items-center">
                            <div class="flex flex-shrink-0">
                                <img class="inline-block h-10 w-10 rounded-full"
                                     src="https://cdn.discordapp.com/avatars/191495299884122112/88746bb73b055faba1c8675418b8e303.png?size=1024"
                                     alt="">
                            </div>
                            <div class="ml-3">
                                <div class="inline-flex text-gray-700 group-hover:text-gray-900"><h1
                                        class="font-semibold">Romitou</h1><h5 class="font-normal text-sm">#9685</h5>
                                </div>
                                <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">Consulter mon
                                    profil</p>
                            </div>
                        </div>
                    </a>
                    <a href="#"
                       class="mt-3 text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                        <svg class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                        </svg>
                        Mes sanctions
                    </a>
                    <a href="#"
                       class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                        <svg class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"/>
                        </svg>
                        Mes demandes
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 overflow-hidden">
            <main class="flex-1 overflow-y-auto">
                <div class="py-6">
                    <div class="max-w-7xl mx-auto px-4">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


{{ encore_entry_script_tags('app') }}
{% for flash_message in app.session.flashBag.get('error') %}
    <script>
        Swal.fire({
            title: 'Erreur',
            icon: 'error',
            text: "{{ flash_message|raw }}"
        });
    </script>
{% endfor %}

{% for flash_message in app.session.flashBag.get('success') %}
    <script>
        $(document).ready(function () {
            Swal.fire({
                title: 'Succès',
                icon: 'success',
                text: "{{ flash_message|raw }}"
            });
        });
    </script>
{% endfor %}
</body>
</html>
