<!doctype html>
<html lang="fr">
<head>
    {% include 'layouts/head.html.twig' %}
    <title>Swan - {% block title %}{% endblock %}</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img width="32" height="32" src="{{ asset('build/images/swan-logo.png') }}" alt="Logo de Swan">
                </div>
                <div class="sidebar-brand-text mx-3">Swan</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'home' ? 'active' }}">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Messages
            </div>
            <li class="nav-item {{ app.request.attributes.get('_route') == 'messages:logs' ? 'active' }}">
                <a class="nav-link" href="{{ path('messages:logs') }}">
                    <i class="fas fa-list"></i>
                    <span>Modifications récentes</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'messages:list' ? 'active' }}">
                <a class="nav-link" href="{{ path('messages:list:auto') }}">
                    <i class="fas fa-comments"></i>
                    <span>Messages</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'messages:new' ? 'active' }}">
                <a class="nav-link" href="{{ path('messages:new') }}">
                    <i class="fas fa-pencil-alt"></i>
                    <span>Nouveau message</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Swan
            </div>
            {% if is_granted('ROLE_STAFF') %}
                <li class="nav-item {{ app.request.attributes.get('_route') starts with 'logs' ? 'active' }}">
                    <a class="nav-link" href="{{ path('logs') }}">
                        <i class="fas fa-history"></i>
                        <span>Historique</span>
                    </a>
                </li>
                <li class="nav-item {{ app.request.attributes.get('_route') starts with 'sanctions' ? 'active' }}">
                    <a class="nav-link" href="{{ path('sanctions') }}">
                        <i class="fas fa-balance-scale"></i>
                        <span>Sanctions</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item {{ app.request.attributes.get('_route') starts with 'modules' ? 'active' }}">
                <a class="nav-link" href="{{ path('modules') }}">
                    <i class="fas fa-plug"></i>
                    <span>Modules</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Admin
                </div>
                <li class="nav-item {{ app.request.attributes.get('_route') starts with 'users' ? 'active' }}">
                    <a class="nav-link" href="{{ path('users') }}">
                        <i class="fas fa-users"></i>
                        <span>Gestion utilisateurs</span>
                    </a>
                </li>
            {% endif %}
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle" aria-label="Modifier l'état du menu de navigation"></button>
                </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light topbar mb-4 static-top shadow">
                    <div class="container-fluid">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" aria-label="Modifier l'état du menu de navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="navbar ms-auto" id="navbarSupportedContent">
                            <div class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="me-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                                        <img class="img-profile rounded-circle" height="32" width="32" src="{{ app.user.avatarUrl }}" alt="Avatar de l'utilisateur">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{{ path('profile') }}">
                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Mon profil
                                            </a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Déconnexion</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                {% block content %}
                {% endblock %}
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Swan Dashboard (version {{ gitCommit()|raw }}) développé par <a href="https://github.com/Romitou">Romitou</a> et <a href="https://github.com/Skript-MC/SwanDashboard/graphs/contributors">nos contributeurs</a> - Panel par <a href="https://startbootstrap.com">Start Bootstrap</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir vous déconnecter ?</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
