<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('build/images/swan-logo.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>Swan - {% block title %}{% endblock %}</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="{{ asset('build/images/swan-logo.png') }}" alt="Logo de Swan">
                </div>
                <div class="sidebar-brand-text mx-3">Swan</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item {{ app.request.attributes.get('_route') == 'home' ? 'active' }}">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Swan
                </div>
                {% if is_granted('ROLE_STAFF') %}
                    <li class="nav-item {{ app.request.attributes.get('_route') in ['history', 'history:channel', 'history:message'] ? 'active' }}">
                        <a class="nav-link" href="{{ path('history') }}">
                            <i class="fas fa-history"></i>
                            <span>Historique</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'message' ? 'active' }}">
                        <a class="nav-link" href="">
                            <i class="fas fa-file-alt"></i>
                            <span>Messages</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Admin
                </div>
                <li class="nav-item {{ app.request.attributes.get('_route') == 'users' ? 'active' }}">
                    <a class="nav-link" href="{{ path('users') }}">
                        <i class="fas fa-users"></i>
                        <span>Gestion utilisateurs</span>
                    </a>
                </li>
                <li class="nav-item {{ app.request.attributes.get('_route') == 'config/dashboard' ? 'active' }}">
                    <a class="nav-link" href="/">
                        <i class="fas fa-cogs"></i>
                        <span>Configuration Dashboard</span></a>
                </li>
                <li class="nav-item {{ app.request.attributes.get('_route') == 'sentry' ? 'active' }}">
                    <a class="nav-link" href="/">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>Rapports Sentry</span></a>
                </li>
            {% endif %}
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                                <img class="img-profile rounded-circle" src="{{ app.user.avatarUrl }}" alt="Avatar de l'utilisateur">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('profile') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mon profil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                {% block content %}
                {% endblock %}
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Swan Dashboard (version {{ gitCommit()|raw }}) développé par <a href="https://github.com/Romitou">Romitou</a> - Panel par <a href="https://startbootstrap.com">Start Bootstrap</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir vous déconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
