{% extends 'layouts/panel.html.twig' %}

{% block title %}Sanctions{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des sanctions</h6>
            </div>
            <div class="card-body">
                {% include 'sanctions/components/searchbar.html.twig' %}
                {% if results|length > 0 %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Type de sanction</th>
                                <th scope="col">Identifiant du membre</th>
                                <th scope="col">Identifiant du modérateur</th>
                                <th scope="col">Raison</th>
                                <th scope="col">Début de la sanction</th>
                                <th scope="col">Fin de la sanction</th>
                                <th scope="col">Statut de la sanction</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for result in results %}
                                <tr>
                                    <td>{% include 'components/sanctionTypeBadge.html.twig' with {'badge': result.type} %}</td>
                                    <td>{{ result.memberId }}</td>
                                    <td>{{ result.moderator }}</td>
                                    <td>{{ result.reason|truncate(50) }}</td>
                                    <td>{{ result.start.format('d/m/Y à H:i') }}</td>
                                    <td>{{ result.finish == null ? 'Non défini' : result.finish.format('d/m/Y à H:i') }}</td>
                                    <td>{% include 'components/sanctionStatusBadge.html.twig' with {'isRevoked': result.revoked} %}</td>
                                    <td><a class="btn btn-info text-white"><i class="fas fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center">Aucune sanction correspondante à votre recherche n'a été trouvée.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
