{% extends 'layouts/panel.html.twig' %}

{% block title %}Sanctions{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card shadow position-relative mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Sanction {{ sanction.sanctionId }} {{ include('components/sanctionTypeBadge.html.twig', { badge: sanction.type }) }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Identifiant du membre sanctionné</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.memberId }}</p>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.user.currentWarnCount ?? 0 }} avertissements</p>
                            </div>
                        </div>
                        <div class="form-group row m-0">
                            <label  class="col-lg-2 col-form-label"><strong>Identifiant du modérateur</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.moderator }}</p>
                            </div>
                        </div>
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Raison</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.reason }}</p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Début de sanction</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.start.format('d/m/Y à H:i') }}</p>
                            </div>
                        </div>
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Durée de sanction</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ dateInterval }}</p>
                            </div>
                        </div>
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Fin de sanction</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{{ sanction.finish == null ? 'Non défini' : sanction.finish.format('d/m/Y à H:i') }}</p>
                            </div>
                        </div>
                        <div class="form-group row m-0">
                            <label class="col-lg-2 col-form-label"><strong>Statut de la sanction</strong></label>
                            <div>
                                <p type="text" readonly class="form-control-plaintext">{% include 'components/sanctionStatusBadge.html.twig' with { isRevoked: sanction.revoked } %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow position-relative mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Mises à jour de la sanction</h6>
                    </div>
                    <div class="card-body">
                        {% for update in sanction.updates %}
                            <div class="form-group row m-0 m-0">
                                <label class="col-lg-2 col-form-label"><strong>Date</strong></label>
                                <div>
                                    <p type="text" readonly class="form-control-plaintext">{{ update.date.format('d/m/Y à H:i') }}</p>
                                </div>
                            </div>
                            <div class="form-group row m-0 m-0">
                                <label class="col-lg-2 col-form-label"><strong>Identifiant du modérateur</strong></label>
                                <div>
                                    <p type="text" readonly class="form-control-plaintext">{{ update.moderator }}</p>
                                </div>
                            </div>
                            <div class="form-group row m-0 m-0">
                                <label class="col-lg-2 col-form-label"><strong>Type de mise à jour</strong></label>
                                <div>
                                    <p type="text" readonly class="form-control-plaintext">{{ update.type }}</p>
                                </div>
                            </div>
                            {% if update.type == 'duration' %}
                                <div class="form-group row m-0 m-0">
                                    <label class="col-lg-2 col-form-label"><strong>Ancienne durée</strong></label>
                                    <div>
                                        <p type="text" readonly class="form-control-plaintext">{{ update.valueBefore }}</p>
                                    </div>
                                </div>
                                <div class="form-group row m-0 m-0">
                                    <label class="col-lg-2 col-form-label"><strong>Nouvelle durée</strong></label>
                                    <div>
                                        <p type="text" readonly class="form-control-plaintext">{{ update.valueAfter }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row m-0 m-0">
                                <label class="col-lg-2 col-form-label"><strong>Raison</strong></label>
                                <div>
                                    <p type="text" readonly class="form-control-plaintext">{{ update.reason }}</p>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}


