{% extends 'layouts/panel.html.twig' %}

{% block title %}Modules{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for module in modules %}
                <div class="card">
                    <div class="card-body text-center" >
                        <h5 class="card-title">
                            {{ module.name }}
                        </h5>
                        <p>{{ module.description }}</p>

                        <div class="row">
                            <div class="col-6">

                                {% if module.enabled %}
                                    <i class="fa fa-check text-success"></i><span class="text-success"> Activé</span>
                                {% else %}
                                    <i class="fa fa-times text-danger"></i><span class="text-danger"> Désactivé</span>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="{{ module.id }}" {{ module.enabled ? 'checked' }}>
                                    <label class="custom-control-label" for="{{ module.id }}"></label>
                                </div>
                            </div>
                        </div>
                        <span><small>Dernière modification le {{ module.modified.format('d/m/Y à H:i') }}</small> </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="moduleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal"></h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="descriptionModal"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">D'accord</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.custom-switch').forEach((el) => el.addEventListener('change', async (change) => {
            const moduleId = change.target.id;
            const enabled = change.target.checked;
            const titleElement = document.getElementById('titleModal');
            const descriptionElement = document.getElementById('descriptionModal');
            const response = await fetch('/modules/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `moduleId=${moduleId}&enabled=${enabled}`
            });

            if (response.ok) {
                window.location = window.location;
            } else {
                const data = await response.json();
                titleElement.innerText = 'Oups !';
                descriptionElement.innerText = data.error ?? 'Une erreur inconnue est survenue.';
                change.target.checked = !enabled;
                $('#moduleModal').modal();
            }
        }));
    </script>
{% endblock %}
