{% extends 'layouts/panel.html.twig' %}

{% block title %}Historique{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 mb-3">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Recherche et salons</h6>
                    </div>

                    <div class="list-group list-group-flush">
                        <form class="form-inline list-group-item" action="{{ path('history:search') }}" method="post">
                            <input class="form-control" id="query" name="query" type="search" placeholder="Recherche" aria-label="Recherche">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                        </form>
                        {% for channel in allChannels %}
                            <a href="{{ path('history:channel', { channelId: channel.id }) }}" class="list-group-item list-group-item-action {% if (app.request.attributes.get('_route_params')['channelId'] is defined) and (app.request.attributes.get('_route_params')['channelId'] == channel.id) %}active{% endif %}">
                            #{{ channel.name }}
                            {% if channel.id in loggedChannels %}
                                <span class="badge badge-pill badge-success ml-2">Archivé</span>
                            {% else %}
                                <span class="badge badge-pill badge-warning ml-2">Non archivé</span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ (messages is defined) ? 'Messages' : (message is defined) ? 'Message' : 'Accueil' }}</h6>
                    </div>
                    <div class="card-body">
                        {% if (messages is defined) and (messages is not empty) %}
                            <div class="card-columns">
                                {% for message in messages %}
                                    <div class="card pt-3">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="{{ message.user.avatarUrl }}" width="50" class="rounded-circle mb-1" alt="User avatar">
                                            <p class="small m-0"><strong>{{ message.user.username }}</strong></p>
                                            <div class="">
                                                {% if message.newContent is empty %}
                                                    <span class="badge badge-pill badge-danger">Supprimé</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-warning">Édité</span>
                                                {% endif %}
                                                <a href="{{ path('history:message', { messageId: message.messageId }) }}"><i class="fas fa-external-link-square-alt"></i></a>
                                            </div>
                                        </div>
                                        <div class="card border-white m-0">
                                            <div class="card-body">
                                                <div class="bg-light rounded py-2 px-3 mb-2">
                                                    <p class="text-small mb-0">{{ message.oldContent|truncate }}</p>
                                                </div>
                                                {% if message.newContent is not empty %}
                                                    <div class="bg-light rounded py-2 px-3 mb-2">
                                                        <span class="text-small mb-0">{{ message.newContent|truncate }}</span>
                                                    </div>
                                                {% endif %}
                                                <p class="small m-0"><strong>{{ message.messageId|discordTimestamp }}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elseif message is defined %}
                            <div class="form-group row">
                                <label for="discordUser" class="col-sm-2 col-form-label"><strong>Utilisateur</strong></label>
                                <div class="col-sm-10">
                                    <p type="text" readonly class="form-control-plaintext" id="discordUser">{{ message.user.username }}</p>
                                    <p type="text" readonly class="form-control-plaintext mt-0 pt-0" id="discordUser">{{ message.user.id }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="discordChannel" class="col-sm-2 col-form-label"><strong>Salon</strong></label>
                                <div class="col-sm-10">
                                    <p type="text" readonly class="form-control-plaintext" id="discordChannel">#{{ message.channel.name }}</p>
                                    <p type="text" readonly class="form-control-plaintext mt-0 pt-0" id="discordChannel">{{ message.channel.id }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="oldMessage" class="col-sm-2 col-form-label"><strong>Ancien message</strong></label>
                                <div class="col-sm-10">
                                    <p type="text" readonly class="form-control-plaintext" id="oldMessage">{{ message.oldContent }}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="messageEditions" class="col-sm-2 col-form-label"><strong>Éditions</strong></label>
                                <div class="col-sm-10">
                                    {% if message.editions is not empty %}
                                        {% for edit in message.editions %}
                                            <p type="text" readonly class="form-control-plaintext" id="messageEditions">{{ edit }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p type="text" readonly class="form-control-plaintext" id="messageEditions">Ce message n'a pas été édité.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newMessage" class="col-sm-2 col-form-label"><strong>Nouveau message</strong></label>
                                <div class="col-sm-10">
                                    <p type="text" readonly class="form-control-plaintext" id="newMessage">{{ message.newContent is defined ? message.newContent : 'Ce message a été supprimé.' }}</p>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-warning"><i class="fas fa-comment-slash"></i> Sanctionner</button>
                                <a class="btn btn-info" target="_blank" rel="noopener noreferrer" href="{{ message.channel.id|discordLink(message.messageId) }}" {{ message.newContent is empty ? 'disabled' }}><i class="fas fa-external-link-alt"></i> Voir sur Discord</a>
                            </div>
                        {% else %}
                            {% if app.request.attributes.get('_route') == 'history' %}
                                Sélectionnez un salon sur le côté ou effectuez une recherche.
                            {% else %}
                                Aucun message disponible dans ce salon.
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if (messages is defined) and (messages is not empty) %}
                        <div class="px-3">
                            {{ knp_pagination_render(messages) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
