{% extends 'layouts/panel.html.twig' %}

{% block title %}Mon profil{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Mes données</h6>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="discordId">Identifiant</span>
                            </div>
                            <input type="text" class="form-control" value="{{ app.user.id }}" aria-label="Identifiant" aria-describedby="discordId" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="discordNickname">Nom d'utilisateur</span>
                            </div>
                            <input type="text" class="form-control" value="{{ app.user.username }}" aria-label="Nom d'utilisateur" aria-describedby="discordNickname" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="discordAvatar">Avatar</span>
                            </div>
                            <input type="text" class="form-control" value="{{ app.user.avatarUrl }}" aria-label="Avatar" aria-describedby="discordAvatar" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Rôle</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" disabled>
                                <option>Invité</option>
                                <option>Membre</option>
                                <option>Staff</option>
                                <option>Admin</option>
                            </select>
                        </div>
                        <form method="post" action="{{ path('profile:delete') }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer mon compte</button>
                        </form>
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger mt-3">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
