{% extends 'layouts/panel.html.twig' %}

{% block title %}Historique{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'history/components/navbar.html.twig' with {'searchForm': searchForm} %}
            <div class="col-sm-9">
                <div class="card shadow position-relative mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Éditions</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if editions|length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Pseudonyme</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for edition in editions %}
                                        <tr>
                                            <td>
                                                {{ edition.user.username }}
                                            </td>
                                            <td>
                                                {{ edition.oldContent|truncate }}
                                            </td>
                                            <td>
                                                <a href="{{ path('history:message', { messageId: edition.messageId }) }}" type="button" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="text-center">
                                    Aucun message n'a été enregistré dans cette catégorie.
                                </p>
                            {% endif %}
                            {{ knp_pagination_render(editions) }}
                        </div>
                    </div>
                </div>
                <div class="card shadow position-relative mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Suppressions</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if deletions|length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Pseudonyme</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for deletion in deletions %}
                                        <tr>
                                            <td>
                                                {{ deletion.user.username }}
                                            </td>
                                            <td>
                                                {{ deletion.oldContent|truncate }}
                                            </td>
                                            <td>
                                                <a href="{{ path('history:message', { messageId: deletion.messageId }) }}" type="button" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="text-center">
                                    Aucun message n'a été enregistré dans cette catégorie.
                                </p>
                            {% endif %}
                            {{ knp_pagination_render(deletions) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
