{% extends 'layouts/panel.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des messages</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="nav flex-column nav-pills" aria-orientation="vertical">
                                    <a
                                        class="nav-link {{ app.request.attributes.get('_route') == 'messages:list:auto' ? 'active' }}"
                                        id="nav-automatic-messages-tab"
                                        href="{{ path('messages:list:auto') }}"
                                        role="tab"
                                        aria-selected="{{ app.request.attributes.get('_route') == 'messages:list:auto' ? 'true' : 'false' }}">
                                        Messages rapides
                                    </a>
                                    <a
                                        class="nav-link {{ app.request.attributes.get('_route') == 'messages:list:error' ? 'active' }}"
                                        id="nav-error-details-tab"
                                        href="{{ path('messages:list:error') }}"
                                        role="tab"
                                        aria-selected="{{ app.request.attributes.get('_route') == 'messages:list:error' ? 'true' : 'false' }}">
                                        Détails erreur
                                    </a>
                                    <a
                                        class="nav-link {{ app.request.attributes.get('_route') == 'messages:list:addonpack' ? 'active' }}"
                                        id="nav-addonpack-tab"
                                        href="{{ path('messages:list:addonpack') }}"
                                        role="tab"
                                        aria-selected="{{ app.request.attributes.get('_route') == 'messages:list:addonpack' ? 'true' : 'false' }}">
                                        Packs d'add-ons
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-10 align-self-center">
                                <div class="tab-content">
                                    <div class="tab-pane show active">
                                        {% if messages|length > 0 %}
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Nom</th>
                                                            <th scope="col">Aliases</th>
                                                            <th scope="col">Aperçu du contenu</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for message in messages %}
                                                            <tr>
                                                                <td>
                                                                    {{ message.name }}
                                                                </td>
                                                                <td>
                                                                    {{ message.aliases|join(', ') }}
                                                                </td>
                                                                <td>
                                                                    {{ message.content|truncate }}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('messages:edit', { messageId: message.id }) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% else %}
                                            <p class="text-center">
                                                Aucun de ces messages n'a été créé pour le moment !
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {{ knp_pagination_render(messages) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
