{% extends 'layouts/panel.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des utilisateurs enregistrés</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nom d'utilisateur</th>
                            <th scope="col">Rôles du panel</th>
                            <th scope="col">Rôles Discord</th>
                            <th scope="col">Identifiant Discord</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td><img class="img-profile rounded-circle img-fluid h-25" src="{{ user.avatarUrl }}" alt="User avatar"> {{ user.username }}</td>
                                <td>
                                    {{ user.roles|join(', ') }}
                                </td>
                                <td>
                                    {% for role in user.discordRoles|discordRolesFromSnowflakes %}
                                        {{ role|roleBadge|raw }}
                                    {% endfor %}
                                </td>
                                <td>{{ user.id }}</td>
                                <td><a href="/users/{{ user.id }}" class="btn btn-info"><i class="fas fa-user-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
